* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.container {
    width: 600px;
    max-width: 90%;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

#add-habit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.habit-card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#habit-form {
    display: none;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}

#habit-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
